<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Forecast</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <script src="static/script.js"></script>
    <div class="container">
        <h1>Weather Forecast</h1>
        <form method="post">
            <label for="city">Enter city name:</label>
            <input type="text" id="city" name="city" required>
            <button type="submit" class="rainbow-button">Get Forecast</button>
        </form>
        <div class="weather-info">
            {% if current_weather %}
            <h2>Current Weather in {{ city }}:</h2>
            <div class="weather-info">
                <p class="weather-description">Description: {{ current_weather.description }}</p>
                <p class="weather-temperature">Temperature: {{ current_weather.temperature }}°C</p>
                <p class="weather-humidity">Humidity: {{ current_weather.humidity }}%</p>
                <p class="weather-wind-speed">Wind Speed: {{ current_weather.wind_speed }} m/s</p>
            </div>
            {% endif %}
            
            {% if next_day_forecast %}
            <h2>Next Day Weather Forecast:</h2>
            <div class="weather-info">
                <p class="weather-description">Description: {{ next_day_forecast.description }}</p>
                <p class="weather-temperature">Temperature: {{ next_day_forecast.temperature }}°C</p>
                <p class="weather-humidity">Humidity: {{ next_day_forecast.humidity }}%</p>
                <p class="weather-wind-speed">Wind Speed: {{ next_day_forecast.wind_speed }} m/s</p>
            </div>
            {% endif %}
            
            {% if error %}
            <p>{{ error }}</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
